html,body{
    margin:0;
    padding:0;
}

.hide-me{
    visibility:hidden;
    opacity:0;
    transform: scale(.75);

}


h1 {
    margin-top: 0;
    font-size: 2.4em;
    font-weight: normal;
    display: inline-block;
  }
  
  body {
    font-family: Helvetica, sans-serif;
    padding: 50px 10%;
  }

#btn{
    color: #fff;
    background-color: #428bca;
    border: 2px solid black;
    border-radius:5px;
}